In [1]:
sc

In [2]:
#import os
#os.chdir("/home/admin2/activity_description/data/")

In [3]:
from pyspark.sql.types import StringType, StructField, StructType, TimestampType, ArrayType, IntegerType, LongType, FloatType

event_schema = StructType([
    StructField("Index", IntegerType()),
    StructField("Arrival_Time", StringType()),
    StructField("Creation_Time", StringType()),
    StructField("x", FloatType()),
    StructField("y", FloatType()),
    StructField("z", FloatType()),
    StructField("User", StringType()),
    StructField("Model", StringType()),
    StructField("Device", StringType()),
    StructField("gt", StringType())
])

In [4]:
fp = "gs://dataproc-81e79564-8ae2-4a68-9b71-fbaaa2a28716-asia-south1/spark_data/Phones_accelerometer.csv"
df = spark.read.csv(fp, header = True, schema = event_schema)

In [5]:
type(df)

pyspark.sql.dataframe.DataFrame

In [6]:
df.printSchema()

root
 |-- Index: integer (nullable = true)
 |-- Arrival_Time: string (nullable = true)
 |-- Creation_Time: string (nullable = true)
 |-- x: float (nullable = true)
 |-- y: float (nullable = true)
 |-- z: float (nullable = true)
 |-- User: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Device: string (nullable = true)
 |-- gt: string (nullable = true)

In [7]:
from pyspark.sql import functions as f
from pyspark.sql import types as t

format = "yyyy-MM-dd HH:mm:ss"
df = df.withColumn('Arrival_Time_TS', f.from_unixtime(df.Arrival_Time/1000).cast(TimestampType()))
df = df.withColumn('Creation_Time_TS', f.from_unixtime(df.Creation_Time/1000).cast(TimestampType()))

In [8]:
df.printSchema()

root
 |-- Index: integer (nullable = true)
 |-- Arrival_Time: string (nullable = true)
 |-- Creation_Time: string (nullable = true)
 |-- x: float (nullable = true)
 |-- y: float (nullable = true)
 |-- z: float (nullable = true)
 |-- User: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Device: string (nullable = true)
 |-- gt: string (nullable = true)
 |-- Arrival_Time_TS: timestamp (nullable = true)
 |-- Creation_Time_TS: timestamp (nullable = true)

In [9]:
cols_to_drop = ["Arrival_Time", "Creation_Time"]
df = df.drop(*cols_to_drop)

In [10]:
df.show()

+-----+----------+----------+---------+----+------+--------+-----+-------------------+----------------+
|Index|         x|         y|        z|User| Model|  Device|   gt|    Arrival_Time_TS|Creation_Time_TS|
+-----+----------+----------+---------+----+------+--------+-----+-------------------+----------------+
|    0| -5.958191| 0.6880646| 8.135345|   a|nexus4|nexus4_1|stand|2015-02-23 13:03:53|            null|
|    1|  -5.95224| 0.6702118| 8.136536|   a|nexus4|nexus4_1|stand|2015-02-23 13:03:53|            null|
|    2|-5.9950867| 0.6535492| 8.204376|   a|nexus4|nexus4_1|stand|2015-02-23 13:03:53|            null|
|    3|-5.9427185| 0.6761627| 8.128204|   a|nexus4|nexus4_1|stand|2015-02-23 13:03:53|            null|
|    4| -5.991516|0.64164734| 8.135345|   a|nexus4|nexus4_1|stand|2015-02-23 13:03:53|            null|
|    5| -5.965332| 0.6297455| 8.128204|   a|nexus4|nexus4_1|stand|2015-02-23 13:03:53|            null|
|    6| -5.991516| 0.6356964|  8.16272|   a|nexus4|nexus4_1|stand|2015-02-23 13:03:53|            null|
|    7| -5.915344|0.63093567| 8.105591|   a|nexus4|nexus4_1|stand|2015-02-23 13:03:53|            null|
|    8| -5.984375| 0.6940155| 8.067505|   a|nexus4|nexus4_1|stand|2015-02-23 13:03:53|            null|
|    9| -5.937958|0.71543884| 8.090118|   a|nexus4|nexus4_1|stand|2015-02-23 13:03:53|            null|
|   10| -5.902252| 0.6678314| 8.069885|   a|nexus4|nexus4_1|stand|2015-02-23 13:03:53|            null|
|   11|-5.9498596|0.68092346| 8.119873|   a|nexus4|nexus4_1|stand|2015-02-23 13:03:53|            null|
|   12|-5.9796143| 0.7416229|8.0841675|   a|nexus4|nexus4_1|stand|2015-02-23 13:03:53|            null|
|   13|-5.9617615|0.71424866| 8.155579|   a|nexus4|nexus4_1|stand|2015-02-23 13:03:53|            null|
|   14|  -5.95343| 0.7130585| 8.153198|   a|nexus4|nexus4_1|stand|2015-02-23 13:03:53|            null|
|   15|-5.8665466| 0.7344818|  8.10083|   a|nexus4|nexus4_1|stand|2015-02-23 13:03:53|            null|
|   16| -5.901062| 0.7582855| 8.081787|   a|nexus4|nexus4_1|stand|2015-02-23 13:03:53|            null|
|   17|-5.8713074| 0.7190094| 8.192474|   a|nexus4|nexus4_1|stand|2015-02-23 13:03:53|            null|
|   18| -5.932007|0.67259216| 8.185333|   a|nexus4|nexus4_1|stand|2015-02-23 13:03:54|            null|
|   19| -5.895111| 0.6797333| 8.132965|   a|nexus4|nexus4_1|stand|2015-02-23 13:03:54|            null|
+-----+----------+----------+---------+----+------+--------+-----+-------------------+----------------+
only showing top 20 rows

In [11]:
df.printSchema()

root
 |-- Index: integer (nullable = true)
 |-- x: float (nullable = true)
 |-- y: float (nullable = true)
 |-- z: float (nullable = true)
 |-- User: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Device: string (nullable = true)
 |-- gt: string (nullable = true)
 |-- Arrival_Time_TS: timestamp (nullable = true)
 |-- Creation_Time_TS: timestamp (nullable = true)

In [12]:
from pyspark.sql import SQLContext, Row
df.registerTempTable("activities")
sqlContext = SQLContext(sc)
df_user_e = sqlContext.sql("SELECT * FROM activities WHERE User == 'e'")

In [13]:
type(df_user_e)

pyspark.sql.dataframe.DataFrame

In [14]:
df_user_e.show()

+-----+----------+-----------+----------+----+------+--------+-----+-------------------+----------------+
|Index|         x|          y|         z|User| Model|  Device|   gt|    Arrival_Time_TS|Creation_Time_TS|
+-----+----------+-----------+----------+----+------+--------+-----+-------------------+----------------+
|    0|-2.0448608|-0.23313904|  9.965851|   e|nexus4|nexus4_1|stand|2015-02-24 14:13:09|            null|
|    1|-2.0412903|-0.29740906| 9.9765625|   e|nexus4|nexus4_1|stand|2015-02-24 14:13:09|            null|
|    2| -2.065094| -0.2771759| 10.005127|   e|nexus4|nexus4_1|stand|2015-02-24 14:13:09|            null|
|    3|-2.0853271|-0.27360535|  9.926575|   e|nexus4|nexus4_1|stand|2015-02-24 14:13:09|            null|
|    4|-2.0567627|-0.21290588|  9.992035|   e|nexus4|nexus4_1|stand|2015-02-24 14:13:09|            null|
|    5| -2.057953|-0.22480774|  9.986084|   e|nexus4|nexus4_1|stand|2015-02-24 14:13:09|            null|
|    6|-2.0960388|-0.20933533| 10.006317|   e|nexus4|nexus4_1|stand|2015-02-24 14:13:09|            null|
|    7|-2.1127014|-0.22242737|  9.970612|   e|nexus4|nexus4_1|stand|2015-02-24 14:13:09|            null|
|    8|-2.1317444|-0.21052551|  9.950378|   e|nexus4|nexus4_1|stand|2015-02-24 14:13:09|            null|
|    9|-2.1127014|-0.18553162|  9.996796|   e|nexus4|nexus4_1|stand|2015-02-24 14:13:09|            null|
|   10|-2.1365051|-0.14863586| 10.042023|   e|nexus4|nexus4_1|stand|2015-02-24 14:13:09|            null|
|   11|-2.1115112|-0.18077087| 10.020599|   e|nexus4|nexus4_1|stand|2015-02-24 14:13:09|            null|
|   12|-2.1376953|-0.15815735| 10.080109|   e|nexus4|nexus4_1|stand|2015-02-24 14:13:09|            null|
|   13|-2.1007996|-0.12245178|  9.939667|   e|nexus4|nexus4_1|stand|2015-02-24 14:13:09|            null|
|   14|-2.0877075| -0.1295929|  9.938477|   e|nexus4|nexus4_1|stand|2015-02-24 14:13:09|            null|
|   15|-2.0769958|-0.13554382| 10.056305|   e|nexus4|nexus4_1|stand|2015-02-24 14:13:09|            null|
|   16|-2.1376953|-0.14030457|10.0408325|   e|nexus4|nexus4_1|stand|2015-02-24 14:13:09|            null|
|   17|-2.1448364|-0.16053772|  9.909912|   e|nexus4|nexus4_1|stand|2015-02-24 14:13:09|            null|
|   18|-2.1269836|-0.18791199| 10.051544|   e|nexus4|nexus4_1|stand|2015-02-24 14:13:09|            null|
|   19|-2.1698303|-0.19743347| 10.019409|   e|nexus4|nexus4_1|stand|2015-02-24 14:13:09|            null|
+-----+----------+-----------+----------+----+------+--------+-----+-------------------+----------------+
only showing top 20 rows